.carding {
    
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.1);
    
    border-radius: 5px;
    
    background-color: rgba(255, 255, 255, 0.0777);
    color: white;

    cursor: pointer;
    margin-bottom: 2%;

}
.carding:hover{
    transition: all 0.1s ease-in-out;
    
    background-color: rgb(172, 58, 58);
}
.card_hover:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}


.change{
    border-bottom: 2px solid red;

}

@media screen and (max-width: 800px) {
    .short{font-size: 10px;}
    .hai{
        font-size: 15px;
    }
    .bottom{
        margin-top: 4%;
    }
    
  }

  @media screen and (max-width: 400px) {
    .short{font-size: 5px;}
    
  }